.container {
  width: 20rem;
  height: 25rem;
  /* background-color: #fef1ce; */
  /* box-shadow: 5px 2px 6px 2px ;     */
  border-radius: 15px;
  /* border: 2px solid rgb(158, 62, 62); */
  position: relative;
  /* margin-left: 3rem; */
  margin-top: 3rem;
  box-shadow: 0 4px 10px #99999991;
}

.header-card {
  height: 80%;
  /* background-image: url("../../../images//img1.jpg"); */
  /* background-size: cover; */
  /* border-radius: 15px 15px 0 0; */
}
.header-card img {
  width: 100%;
  height: 100%;
  background-size: cover;
  border-radius: 15px 15px 0 0;
}
.product-take-btn {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.product-take-btn button {
  background-color: #b7d784;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.product-take-btn button:hover {
  background-color:black;
}

.body-card {
  border-top: 5px solid #b7d784;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 20%;
  /* color: rgb(158, 62, 62); */
}
.info-card {
  display: flex;
  width: 90%;
  justify-content: space-between;
}
.transparent-div {
  width: 15rem;
  height: 15rem;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
}

.transparent-div:hover {
  cursor: pointer;
}

.add-button {
  color: #b7d784;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  /* z-index: 120; */
}

/* image{
    width: 200px;
    height: 2000px;
} */

.add-button:hover {
  cursor: pointer;
  color:black;
}

.Add-button:hover {
  cursor: pointer;
}
