.dashboard-admins {
  display: flex;
  flex-direction: column;
  width: 100%;
  column-gap: 100px;
  padding: 0 40px;
}

.dashboard-admins-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  flex-grow: 1;
  transition: 0.5s;
}

.dashboard-admins-form form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dashboard-admin-count {
  height: 50%;
}

.dashboard-admin-data-grid {
  flex-grow: 1;
}

.MuiDataGrid-columnHeaders {
  background-color:#b7d784;
  color: var(--secondary-color);
}

.dashboard-admins-heading {
  margin-bottom: 40px;
}

.dashboard-admins-heading h2 {
  font-size: 3rem;
  color: var(--accent-color);
}

.dashboard-admin-add-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.dashboard-admin-select {
  border: 1px solid #444;
  outline: none;
  border-radius: 4px;
  padding: 16.5px 14px;
  position: relative;
  caret-color: var(--accent-color);
  background-color: #fff;
  font-size: 16px;
  width: 100%;
}

@media (max-width: 1200px) {
  .dashboard-admins {
    padding: 0 20px;
  }

  /* .dashboard-admins-form form {
    margin-bottom: 40px;
  }

  .dashboard-admin-shapes {
    display: none;
  }

  .dashboard-admins-form form {
    width: 100%;
  } */
}
