.not-found {
  /* background-color: #222; */
  width: 100%;
  height: 100vh;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.not-found-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found .not-found-heading,
.not-found .unauthorized-heading {
  font-weight: 900;
  background: url("../../images/RMZNA-text-bg.png");
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.not-found-heading {
  font-size: 15rem;
}

.unauthorized-heading {
  font-size: 10rem;
}

.not-found .e404 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.unauthorized-e {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bold;
}

@media (max-width: 1200px) {
  .unauthorized-heading {
    font-size: 6rem;
  }

  .unauthorized-e {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .not-found-heading {
    font-size: 10rem;
  }

  .unauthorized-heading {
    font-size: 4rem;
  }

  .unauthorized-e {
    font-size: 1.2rem;
  }
}

@media (max-width: 480px) {
  .not-found-heading {
    font-size: 7rem;
  }

  .not-found .e404 {
    font-size: 1rem;
  }

  .not-found p {
    font-size: 12px;
  }

  .unauthorized-heading {
    font-size: 3rem;
  }
}
